*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFE;
    background-color: #252525;
}
main .main-container{
    width: 80%;
    min-height: 100px;
    margin: 0 auto;
    border: 2px solid #f0b90b;
    padding: 30px;
}
.main-header{
    width: 100%;
    height:100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.main-header h2{
    color: #edf250;
    font-size: 2rem;
    letter-spacing: 0.6rem;
    font-weight: 700;
}
.main-header ul{
    display: none;
    list-style: none;
}
.menuIcon{
    width: 30px;
    height: 30px;
    background-image: url("./assets/icons/menuIcon2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.main-header a{
    text-decoration: none;
    margin: 0 20px;
    font-size: 1.3rem;
    color: #EDF250;
}
.main-container h1{
    text-align: center;
    color: #EDF250;
    font-size: 2.4rem;
}
.main-container p{
    font-size: 1.8rem;
}


@media (min-width: 426px){
    .menuIcon{
        display: none;
    }
    .main-header ul{
        display: flex;
    }

}